
<body>
  <main class="main-content">
    <h2>Command Lines</h2>
    <ul class= "command-list">
      <li>
      <h5>
        <a class="e-icons" [routerLink]="['/GetAllSports', 1]">
        Get All Sports
        </a>
        <p>Description: Gets a list of all available sports</p>
      </h5>
      </li>
      <li>
      <h6>
        <a class="e-icons" [routerLink]="['/GetLeagueByIdComponent', 2]">
        Get League By Id
        </a>
        <p>Description: Gets a list of all available sports</p>
      </h6>
      </li>
    </ul>
  </main>
</body>
