
<body>
  <main class="main-content">
    <h2>Command Lines</h2>
    <ul class= "command-list">
      <li>
      <h5>
        <a class="e-icons" [routerLink]="['/GetAllSports', 1]">
        Get All Sports
        </a>
        <p>Description: Gets a list of all available sports</p>
      </h5>
      </li>
      <li>
      <h5>
        <a class="e-icons" [routerLink]="['/AddSport', 1]">
        Add a Sport
        </a>
        <p>Description: Adds a sport</p>
      </h5>
      </li>
      <li>
      <h6>
        <a class="e-icons" [routerLink]="['/GetLeagueById', 2]">
        Get League By Id
        </a>
        <p>Description: Gets a list of all available sports</p>
      </h6>
      </li>
      <li>
        <h6>
          <a class="e-icons" [routerLink]="['/GetLeagueBySport', 3]">
          Get League By Sport ID
          </a>
          <p>Description: Gets the leagues by sport ID</p>
        </h6>
      </li>
    </li>
    <li>
      <h6>
        <a class="e-icons" [routerLink]="['/GetTeamById', 4]">
        Get team By ID
        </a>
        <p>Description: Gets the team by ID</p>
      </h6>
    </li>
    </ul>
  </main>
</body>
