<div class="container">
    <h1>Get league by ID</h1>
    <form [formGroup]="getLeagueByIdForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="id">League ID</label>
            <input type="text" formControlName="id" class="form-control" id="id" required>
        </div>
        <button type="reset" class="btn btn-warning">Reset</button>
        <button type="submit" class="btn btn-success" (click)="changeLabel(result.id)">Submit</button>
        <p>
        <label #result id="result"></label>
    </form>
</div>
