<div class="container">
    <h1 class="text-left">Get League by Sport ID</h1>
    <form [formGroup]="getLeaguesBySportForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="sportId">Sport ID</label>
            <input type="text" formControlName="sportId" class="form-control" id="sportId" required>
        </div>
        <button type="reset" class="btn btn-warning btn-block">Reset</button>
        <button type="submit" class="btn btn-success btn-block" (click)="changeLabel(result.id)">Submit</button>
        <label #result id="result"></label>
    </form>
</div>
